/*  font-families installed
font-family: 'Monoton', cursive;
font-family: 'Archivo Black', sans-serif;
font-family: 'Monoton', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Monoton&display=swap');
* {
    box-sizing: border-box;
    color: yellow;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
}

.header-grid {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    max-height: 50vw;

    top: 0;
    left: 0;
    position: absolute;


    display: grid;
    grid-template-columns: 16vw repeat(5, 1fr) 16vw;
    grid-template-rows: repeat(6, 1fr);

    overflow: hidden;

}

.title {
    text-transform: uppercase;
    font-size: 8vw;

}

.one {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: end;
    position: relative;
    left: 12.9vw;

}

.two {
    grid-row: 3 / 4;
    grid-column: 7 / 8;

    position: relative;
    bottom: 39.5%;
    right: 68%;
    display: block;
    
}

.three {
    grid-row: 3 / 5;
    grid-column: 1 / 2;
    position: relative;
    top: 38.1%;
    left: 6%;
    
}

.one-inside {
    position: relative;
    right: 15vw;
}

.two-inside {
    position: relative;
    bottom: 5%;
    left: 83.9%;

    display: block;
    
}

.three-inside {
    position: relative;
    right: 21.8%;
    
}

.hero-banner {
    background-image: url(/images/arnold.jpg);
    background-size: cover;
    background-position: center;
    grid-row: 1 / -1;
    grid-column: 2 / 7;
    z-index: 3;

    max-height: 50vw;
    overflow: hidden;
} 

img {
    width: 100%;
    height: auto;
    display: none;

}

.logo {
    position: relative;
    display: none;
}

